.todolist-view {
    max-width: 1010px;
    width: 100%;
    margin: auto;
}
.todolist-header {
    display: flex;
    align-items: center;
    p {
        margin-left: 12px;
        font-size: 14px;
        opacity: 0.6;
        flex: 1;
    }
}
.todolist-container {

}
.todolist-content {

}

.form-ant-input {
    width: 100%;
    display: flex;
    padding-top: 52px;

    .form-item-wrap {
        flex: 1;
    }
    label[for="job"]{
        width: 100px;
    }
    label[for="note"] {
        margin-left: 10px;
        width: 90px;
    }
}
