.tiktok-view {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 100px;

    button {
        margin: 0 20px;
    }
}

.dark {
    background-color: #000;
    color: #fff;
}